ion-content {
    // --ion-background-color:rgba(27, 81, 128, 0.66);
    // background-image: linear-gradient(315deg, #07001d, rgba(23, 99, 99, 0.5));
}
.slide-container {
    padding-top: 11%;
    height: 73%;
    background-color:rgba(27, 81, 128, 0.66);
    background-image: linear-gradient(315deg, #07001d, rgba(23, 99, 99, 0.5));
}
.logo-image {
    margin-right: auto; 
    margin-left: auto;
    width: 150px;
    height: 150px;
    background: url('../../../assets/images/logo.png');
    background-size: 100%;
}
.guide2-image {
    margin-right: auto; 
    margin-left: auto;
    width: 150px;
    height: 150px;
    background: url('../../../assets/images/guide2.png');
    background-size: 100%;
    background-repeat: no-repeat; 
}
.guide3-image {
    margin-right: auto; 
    margin-left: auto;
    width: 150px;
    height: 150px;
    background: url('../../../assets/images/guide3.png');
    background-size: 100%;
    background-repeat: no-repeat; 
}

.title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 19px;
    margin-top: 5%;
}
.message {
    margin: 17px 40px 0px 40px;
    text-align: center;
    line-height: 25px;
    color: white;
    opacity: 0.55;
    font-weight: 500;
}
div.swiper-wrapper {
    height: 60% !important;
}
ion-slides {
    margin-top: 9%;
    height: 60%;
    --bullet-background-active : white;
}

div.swiper-wrapper {
    height: 153% !important;
}

.button-text-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
    padding-top: 24px;
    border-bottom: 3px solid #1c085d;
    border-left: 3px solid #1c085d;
    border-right: 3px solid #1c085d;
    .btn-create-wallet {
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
        --border-radius: 60px;
        font-size: 10px;
        font-weight: bold;
        --background: #44A9C5;
        --background: linear-gradient(to right, #5cc1aa,#44A9C5,#6ca3d2);
        height: 3.3rem !important; 
    }
    .import-wallet-description {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 8%;
        font-size: 14px;
        font-weight: 550;
        color: #777474;
        .import-wallet-description__green {
            color: #04bfb1;
        }
    }
    sup {
        top: -1em;
    }
    .footer {
        text-align: center;
        font-size: 9px;
        padding: 0px 29px 8% 28px;
        color: #b9b9b9;
    }
}
