<ion-content>
  <div class="slide-container">
    <ion-slides #slides pager="true" (ionSlideDidChange)=changeSlide()>
      <ion-slide >
        <div class="logo-image"></div>
      </ion-slide>
      <ion-slide>
        <div class="guide2-image"></div>
      </ion-slide>
      <ion-slide>
        <div class="guide3-image"></div>
      </ion-slide>
    </ion-slides>

    <div class="description-container">
      <div class="title">Get Started with XEM</div>
      <div class="message">Learn how to use XEM as a store of value with our step by step guide</div>
    </div>
  </div>

  <div class=button-text-container>
    <ion-button expand="block" class="btn-create-wallet" [routerLink] ="['/create-wallet']">CREATE WALLET</ion-button>
    <div class="import-wallet-description">Already have a wallet?
      <span class="import-wallet-description__green">Import It</span>
    </div>
    <div class="footer">NEM.io Foundation Ltd (Singapore) 2014 - 2019 | All Right reserved | NEM
      <sup class="tm" style="font-size: 3px">TM</sup>
    </div>
  </div>
</ion-content>