ion-content {
    --ion-background-color:rgba(27, 81, 128, 0.66);
    background-image: linear-gradient(315deg, #07001d, rgba(23, 99, 99, 0.5));
}
.logo-image {
        margin-top: 50%;
        margin-right: auto; 
        margin-left: auto;
        width: 150px;
        height: 150px;
        background: url('../../../assets/images/logo.png');
        background-size: 100%;
}
img {
        width: 50%;
}
.footer-container {
    margin-top: 40%; 
    text-align: center;
    .description {
        margin-top: 10px;
        font-size: 35px;
        letter-spacing: -1px;
        font-weight: 900;
        .description-inner {
            position: relative;
            .mini-logo {
                position: absolute;
                top: 5px;
                right: -16px;
                width: 15px;
                height: 15px;
                background: url('../../../assets/images/logo.png');
                background-size: 100%;
            }
        }
    }
    .sub-description {
        padding: 8px 15px 0px 15px;
        font-size: 12px;
        color:grey;
        font-weight: 300;
        sup {
            top: -1em;
        }
    }
}
