<ion-header>
  <!-- <ion-toolbar>
  </ion-toolbar> -->
</ion-header>

<ion-content tappable (click) = "clickAnyWhere()">
  <div class="logo-image"></div>
  <div class="footer-container">
    <div class="description-container">
      <div class="description">
        <span class="description-inner">nem
            <div class="mini-logo"></div>
        </span>
      </div>
    </div>
    <div class="sub-description">
      NEM.io Foundation Ltd (singapore) 2014 - 2019
    </div>
    <div class="sub-description">
      All Rights Reserved | NEM
         <sup class = "tm" style="font-size: 5px">TM</sup>
    </div>
  </div>
</ion-content>