<ion-content>
  <div class="header-container">
    <div class="header"> Create Backup</div>
  </div>

  <div class="backup-description">
    Create a backup of your account by writting down the accounts private key and storing it in a
    safe place - you are then able to import the account with the private key into any NEM client, but remember that anyone 
    who has access to your private key has also access to your account and therefore to your funds. Or create a backup
    of your account by generating a QR code
  </div>

  <div class="hide-backup-symbol">
    <div class="hide-backup-symbol__1">* * * * * * * *</div>
    <div class="hide-backup-symbol__2">* * * * * * * *</div>
    <div class="hide-backup-symbol__3">* * * * * * * *</div>
  </div>
  
  <ion-button class="button__show-private-key" [routerLink]="['/show-backup']" expand="block">SHOW PRIVATE KEY</ion-button>
  <ion-button class="button__generate-qr-code" expand="block">GENERATE QR CODE</ion-button>
  <div class ="go-to-dashbard" >GO TO DASHBOARD 
      <ion-icon name="arrow-round-forward" ></ion-icon>
  </div>
</ion-content>