<ion-content>
  <div class="header-container">
    <div class="header"> Create Password</div>
    <ion-icon name="close"[routerLink]="['/create-wallet-guide1']"></ion-icon>
  </div>
  <div class="type-passwords">
    <div class="type-passwords__description">ENTER PASSWORD</div>
    <ion-input class="type-passwords__input" placeholder="Your password" type="password"></ion-input>
  </div>

  <div class="confirmation-passwords">
    <div class="confirmation-passwords__description">CONFIRM PASSWORD</div>
    <ion-input class="confirmation-passwords__input" placeholder="Confirm password" type="password"></ion-input>
  </div>

  <ion-button class="btn-generate-qr-code" expand="block" tappable (click)="test()">CREATE</ion-button>
</ion-content>