ion-content {
    --ion-background-color:rgba(27, 81, 128, 0.66);
    background-image: linear-gradient(315deg, #07001d, rgba(23, 99, 99, 0.5));
}
.logo-image {
    width: 40px;
    height: 40px;
    margin: 14% auto 15px auto;
    background: url('../../../assets/images/logo_white.png');
    background-size: 100%;
}

.term-conditions-block {
    border-radius: 20px;
    height: 63%;
    .term-conditions-inner-block {
        padding: 22px;
        height: 100%;
        .term-conditions-title {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 11px; 
            color: black;
        }
       
        .scrollable {
            overflow-y: scroll;
            text-align: justify;
            line-height: 25px;

            height: 79% !important;
            margin-bottom: 10px;
            font-style: normal;

            .term-description {
                padding-right: 10px;
            } 
        }

        .checkbox-description {
            float: right;
            font-weight: bold;
        }
    }
}
.btn-accept {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    --border-radius: 50px;
    font-size: 10px;
    font-weight: bold;
    --background: #44A9C5;
    height: 3.3rem !important; 
}
ion-checkbox {
    --border-radius : 5px;
    --border-color: #04bfb1;
    --checkmark-color : #04bfb1;
    --border-color-checked : #04bfb1;
}
a {
    color: #04bfb1;
}