<ion-content>
  <div class="logo-image">
  </div>

  <ion-card class="term-conditions-block">
    <div class="term-conditions-inner-block">
      <div class="term-conditions-title" text-center>
        Terms and Conditions
      </div>

      <div class="scrollable">
        <div class="term-description">We are commited to safeguarding the privacy of our website visitor.</div>
        <div class="first-term">1.2 This policy applies where we are acting as a data controller with respect to
          the personal data of our website visitors; in other words, where we determine the purposes and means of the
          processing of that persional data.
        </div>
        <div class="second-term">1.3 This policy applies where we are acting as a data controller with respect to
          the personal data of our website visitors; in other words, where we determine the purposes and means of the
          processing of that persional data.
        </div>
      </div>

      <div class="checkbox-container">
        <ion-row>
          <ion-col size="2">
            <ion-checkbox [(ngModel)]="isAccepted"></ion-checkbox>
          </ion-col>
          <ion-col>
            <div class="checkbox-description">I accept the Terms and Conditions &
              <span style="position: relative;"><a href="https://google.com"> Privacy Policy</a></span>
            </div> 
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-card>
  <ion-button expand="block" class="btn-accept" [routerLink]="['/term-condition']">
    ACCEPT TERMS
  </ion-button>
</ion-content>
