ion-content {
    --ion-background-color: rgba(36, 69, 74, 0.66);
    background-image: linear-gradient(315deg, #260982, #13542d);
}
.header-container {
    position: relative;
}
.header {
    text-align: center;
    margin-top: 10%;
    color: #f3f3f3;
    font-weight: bold;
    font-size: 14px;
}
ion-icon {
    color: white;
    font-size: 41px;
    position: absolute;
    top: 0;
    top: -14px;
    right: 2%;
}

.wallet-name {
    padding: 56px 25px 1px 25px;
}
.wallet-name__description {
    // margin: 56px auto 1px auto;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
    color: #ffffff52;
}
.wallet-name__input {
    margin-bottom: 40%;
    text-align: center;
    border-bottom: 1px solid white;
    --placeholder-color: white;
    font-size: 14px;
}
.btn-create-wallet {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    --border-radius: 60px;
    font-size: 10px;
    font-weight: bold;
    --background: #44A9C5;
    --background: linear-gradient(to right, #5cc1aa,#44A9C5,#6ca3d2);
    height: 3.3rem !important; 
}