<ion-content>
  <div class="header-container">
    <div class="header"> Create Wallet</div>
    <ion-icon name="close"[routerLink]="['/create-wallet-guide1']"></ion-icon>
  </div>
  <div class="wallet-name">
    <div class="wallet-name__description">WALLET NAME</div>
    <ion-input class="wallet-name__input" placeholder="Enter your wallet name"></ion-input>
  </div>
  <ion-button class="btn-create-wallet" [routerLink] = "['/create-backup']" expand="block">CREATE</ion-button>
</ion-content>