ion-content {
    --ion-background-color: rgba(36, 69, 74, 0.66);
    background-image: linear-gradient(315deg, #260982, #13542d);
}
.header {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 7%;
    color: #f3f3f3;
    font-weight: bold;
    font-size: 14px;
}
.backup-description {
    margin: 0px 8% 6% 8%;
    font-size: 10px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: 1px;
    color: #ffffff87;
}
.hide-backup-symbol {
    margin-left: 9%;
    margin-right: 9%;
    background: white;
    margin-left: 17%;
    border-radius: 20px;
    margin-right: 17%;
}
.hide-backup-symbol__1, .hide-backup-symbol__2, .hide-backup-symbol__3 {
    // color: #ffffff42;
    text-align: center;
    font-size: 46px;
}
.button__show-private-key, .button__generate-qr-code {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        --border-radius: 60px;
        font-size: 10px;
        font-weight: bold;
        --background: #44A9C5;
        --background: linear-gradient(to right, #5cc1aa,#44A9C5,#6ca3d2);
        height: 3.3rem !important; 
        font-size: 9px;
}
.button__show-private-key {
    margin-top: 6%;
    margin-bottom: 5%;
} 
.go-to-dashbard {
    position: relative;
    font-size: 10px;
    text-align: center;
    margin-top: 6%;
    color: #04bfb1;
    font-weight: 600;
}
ion-icon {
    position: absolute;
    top: -10px;
    font-size: 29px;
}
